body {
	background-color: black;
	color: white;
}

h1 {
	text-align: center;
}

a {
	color: white;
	font-weight: bold;
	text-decoration: underline;
}
a.no_underline {
	text-decoration: none;
}
a.fb
{
	color: #3B5998;
}

a:hover, a.fb:hover {
	color: white;
	font-weight: bold;
	text-decoration: underline;
}

footer {
	position: absolute;
	bottom: 0;
	height: 2.5rem;
}

